MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
RABBITMQ_USER=sms_user
RABBITMQ_PASSWORD=change-rabbitmq-password
RABBITMQ_VHOST=sms_gateway
MYSQL_ROOT_PASSWORD=change-root-password
